function(obj){
var __t,__p='',__j=Array.prototype.join,print=function(){__p+=__j.call(arguments,'');};
with(obj||{}){
__p+='<div class="menu-wrap">\n\t';
for (var i = 0; i < data.length; i++) { var item = data[i];console.log(item)
__p+='\n\t\t<div class="menu-item';
if (i === 0){
__p+=' select';
}
__p+='">\n\t\t\t<div class="menu-item-inner">'+
((__t=( item.name))==null?'':__t)+
'</div>\n\t\t</div>\n\t';
}
__p+='\n</div>';
}
return __p;
}